{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/toys/toy-index.css' %}" />
{% endblock %}
{% block content %}


<section class="card-container" >
    <h1 style="color: #ffffff; font-size: 32px;"> Current Cryptocurrency</h1>
    {% for crypto in crypto_list %}
    <div class="card" style="background-color: black; ">

        <a href="{% url 'crypto-detail' crypto.id %}" style="text-decoration: none;">
            <div class="card-content" style="color: #ffffff; display: flex; align-items: center;" onmouseover="this.style.color='chartreuse'" 
            onmouseout="this.style.color='white'">
                <h2>{{ crypto.name }}:</h2>
                <p style="font-size: 24px; margin-left: 24px;"> {{ crypto.price_usd }} </p>
            </div>
        </a>
    </div>
    {% endfor %}
</section>

{% endblock %}