{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/toys/toy-index.css' %}" />
{% endblock %}
{% block content %}

<section class="page-header">
    <h1>All Crypto</h1>
    <img src="{% static 'images/pig.png' %}" alt="A pig" style="width: 50px;"/>
    <img src="{% static 'images/pig.png' %}" alt="A pig" style="width: 50px;"/>
    <img src="{% static 'images/pig.png' %}" alt="A pig" style="width: 50px;"/>
    <img src="{% static 'images/pig.png' %}" alt="A pig" style="width: 50px;"/>
</section>

<section class="card-container">
    {% for crypto in crypto_list %}
    <div class="card" style="background-color: black">
        <div class="card-bg" style="background-color: black" ></div>
        <a href="{% url 'crypto-detail' crypto.id %}">
            <div class="card-content">
                <h2>{{ crypto.name }}</h2>
                <p> {{ crypto.price_usd }} </p>
            </div>
        </a>
    </div>
    {% endfor %}
</section>

{% endblock %}