{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/accounts/account-index.css' %}" />
{% endblock %} {% block content %}

<section class="page-header" style="display: flex; justify-content: center; color: white; margin-top: 180px;">
    <h1>Accounts</h1>
    </section>

<section class="card-container">
    {% for account in accounts %}
    <div class="card" style="border-color: chartreuse; border-radius: 20px; margin: 20px;  ">
        <a href="/accounts/{{account.id}}">
           <div class="card-content" style="background-color: #ffffff; border-radius: 18px; width: 93%; ">
            <div class="card-img-container" >
                <img src="{% static 'images/pig.png' %}" alt="pig" style="width: 50px;" />
            </div>
            <h2 class="card-title">{{ account.bank }}</h2>
            <p> {{ account.type }} </p>
            <p> {{ account.country }} </p>
            <p><small>{{ account.currency }}</small></p>
            <p><strong>Balance:</strong> ${{ account.balance }}</p>
        </div>
        </a>
    </div>
    {% endfor %}
</section>

{% endblock %}