{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/pig.png' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Cat Collector</title>
    {% block head %}
    {% endblock %}
</head>

<body>
    <header>
        <div class="header-logo-container">
            <a href="{% url 'home' %}" class="header-img" >
                <img src="{% static 'images/pig.png' %}" alt="The Money Collector Logo" class="header-img" />
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/accounts">All Accounts</a></li>
                <li><a href="{% url 'crypto-index' %}">All Crypto</a></li>
                <li><a href="{% url 'account-create' %}">Add an Account</a></li>
                <li><a href="{% url 'crypto-create' %}">Add Crypto</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>