{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} {% block content %}

<section class="logo-container">
    <div class="cat-container">
        <img src="{% static 'images/pig.png' %}" class="img-width" alt="pig"  />
    </div>
    <h1 class="header-text" style="color: #ffffff; "> Crypto Collector</h1>
    <p class="body-text" style="color: #ffffff; "> An app to track all of your crypto accounts</p>

</section>

{% endblock %}