{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} {% block content %}

<section class="logo-container">
    <div class="cat-container">
        <img src="{% static 'images/pig.png' %}" alt="pig" style="width: 350px;"/>
    </div>
    <h1 style="color: #ffffff; font-size: 42px;"> Crypto Collector</h1>
    <p style="color: #ffffff; font-size: 24px;"> An app to track all of your crypto accounts</p>

</section>

{% endblock %}