.card-container {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card {
    width: 275px;
    margin: 10px;
    border: var(--borders);
    box-shadow: var(--card-box-shadow);
  }
  
  .card-content {
    padding: 10px;
    width: 100%;
  }
  
  .usr-img {
    width: 100%;
    border-radius: var(--card-border-radius);
  }
  
  .card>a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  .card h2 {
    margin: 10px 0;
    font-size: var(--font-xl);
  }
  
  .card p {
    margin: 5px 0;
    font-size: var(--font-reg);
  }

  .card-img-container {
    width: 50px;
  }

  section.page-header {
    width: 100%;
    display: flex;               
    justify-content: center;    
    align-items: center;        
    padding: 10px 20px;         
    box-sizing: border-box;
   margin-top: 10px;
  }


section.page-header h1 {
  margin: 0;
  color: #ffffff;
  text-align: center;        
}

@media only screen and (max-width: 767px) { 

  section.page-header {

   margin-top: 0px;
   padding: 0px;
  }
}